In [ ]:
var1 = 'Aman'
var2 = "G"
var3 = 'Nair'
print(var1," ",var2," ",var3)

Aman   G   Nair

In [ ]:
var1 = 'Good Morning'
var2 = "How are you doing?"

print (var1[0])
print (var2[1:4])

G
ow

In [ ]:
var1 = 'Hello World!'
print ("Updated String :- ", var1[0:6] + 'Everyone')

Updated String :-  Hello Everyone

In [ ]:
str1 = input("Please Enter Your Own String : ")

str2 = str1
str3 = str1[:]
str4 = str1[2:6]

print("The Final String : Str2  = ", str2)
print("The Final String : Str3  = = ", str3)
print("The Final String : Str4  = = ", str4)

Please Enter Your Own String : Data Analysis
The Final String : Str2  =  Data Analysis
The Final String : Str3  = =  Data Analysis
The Final String : Str4  = =  ta A

In [ ]:
str = "good morning";
print ("str.capitalize() : ", str.capitalize())

str.capitalize() :  Good morning

In [ ]:
str = "this is string example....wow!!!"
print ("str.center(40, 'a') : ", str.center(40, '*'))

str.center(40, 'a') :  ****this is string example....wow!!!****

In [1]:
str = "this is string example....wow!!!";

sub = "i";
print ("str.count(sub, 4, 40) : ", str.count(sub, 4, 40))
sub = "wow";
print ("str.count(sub) : ", str.count(sub))

str.count(sub, 4, 40) :  2
str.count(sub) :  1

In [2]:
str1 = "this is string example....wow!!!";
str2 = "is";

print (str1.find(str2))
print (str1.find(str2, 10))
print (str1.find(str2, 40))

2
-1
-1

In [3]:
str1 = "this is string example....wow!!!";
str2 = "exam";

print (str1.index(str2))
print (str1.index(str2, 10,32))

15
15

In [4]:
str = "thisis2021";  
print (str.isalnum())

str = "this is string example....wow!!!";
print (str.isalnum())

True
False

In [5]:
str = "AmanGNair"; 
print (str.isalpha())

str = "this is string example....wow!!!";
print (str.isalpha())

True
False

In [6]:
str = "6789012";  
print (str.isdigit())

str = "this is string example....wow!!!";
print (str.isdigit())

True
False

In [7]:
str = "THIS is string example....wow!!!"; 
print (str.islower())

str = "this is string example....wow!!!";
print (str.islower())

False
True

In [8]:
str = "thisis2021";  
print (str.isnumeric())

str = "23443434";
print (str.isnumeric())

False
True

In [9]:
str = "  "; 
print (str.isspace())

str = "This is string example....wow!!!";
print (str.isspace())

True
False

In [10]:
str = "This Is String Example...Wow!!!";
print (str.istitle())

str = "This is string example....wow!!!";
print (str.istitle())

True
False

In [11]:
str = "THIS IS STRING EXAMPLE....WOW!!!"; 
print (str.isupper())

str = "THIS is string example....wow!!!";
print (str.isupper())

True
False

In [13]:
s = "  #  *  ";
seq = ("abc", "defgh", "ijklmno"); 
print (s.join( seq ))

abc  #  *  defgh  #  *  ijklmno

In [14]:
str = "this is string example....wow!!!";
print ("Length of the string: ", len(str))

Length of the string:  32

In [15]:
str = "     this is string example....wow!!!     ";
print (str.lstrip())
str = "883637262this is string example....wow!!!999999";
print (str.lstrip('8'))
print (str.rstrip('9'))

this is string example....wow!!!
3637262this is string example....wow!!!999999
883637262this is string example....wow!!!

In [17]:
str = "AMAN.G.NAIR";
print (str.lower())

aman.g.nair

In [18]:
str = "check....wow!!!";
print ("Max character: " + max(str))

str = "shabnam....!!!";
print ("Max character: " + max(str))

Max character: w
Max character: s

In [19]:
str = "this-is-real-string-example....wow!!!";
print ("Min character: " + min(str))

str = "this-is-a-string-example....wow!!!";
print ("Min character: " + min(str))

Min character: !
Min character: !

In [20]:
str = "this is string example....wow!!! this is really string"
print (str.replace("is", "was"))
print (str.replace("is", "was", 3))

thwas was string example....wow!!! thwas was really string
thwas was string example....wow!!! thwas is really string

In [21]:
str = "this is string example....wow!!!";
print (str.startswith( 'this' ))
print (str.startswith( 'is', 2, 4 ))
print (str.startswith( 'this', 2, 4 ))

True
True
False

In [22]:
str = "this is string example....wow!!!";
print ("str.capitalize() : ", str.upper())

str.capitalize() :  THIS IS STRING EXAMPLE....WOW!!!

In [23]:
str = "this is string example....wow!!!";
print (str.swapcase())

str = "THIS IS STRING EXAMPLE....WOW!!!";
print (str.swapcase())

THIS IS STRING EXAMPLE....WOW!!!
this is string example....wow!!!